# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Prisma: 保留 schema，忽略 DB 和生成内容
prisma/dev.db
prisma/migrations/
# ✅ 明确保留 schema 和 client
!prisma/schema.prisma
!node_modules/.prisma/client

# 忽略 prisma 的生成缓存（如果你有使用这个路径）
/generated/prisma
